* {
    margin: 0;
    font-family: monospace;
}

h1 {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 0;
    color: #e8f3f1;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top right, #685394, #13e9c2);
    overflow: hidden;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.player-one-container, .player-two-container {
    height: 20vh;
    width: 15vh;
    border: solid #e8f3f1 2px;
    padding: 1em;
    color: #e8f3f1;
    font-weight: bold;
    font-size: larger;
}

.grid-container  {
    height: 60vh;
    width: 60vh;
    border: solid #e8f3f1 2px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.grid-container div {
    border: solid #e8f3f1 2px;
}

.cell-element {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.modal {
    text-align: center;
    padding: 1em;
    max-width: 50ch;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 0 1em #00371f;
    background-image: linear-gradient(to bottom left, #545479, #00ac81);
    color: #e8f3f1;
    font-weight: bold;
}

.modal * {
    margin: 1rem;
}

.modal::backdrop {
    background: linear-gradient(to bottom left, #685394, #13e9c2);
    opacity: .5;
}

